.left-bar-item {

}

.left-bar-subItem {
    position: relative;
    height: 36px;
    line-height: 36px;

    text-align: center;
    cursor: pointer;
    z-index: 1002;
}

.left-bar-subItem:hover:before {
    content: attr(data-tips);
    position: absolute;
    top: 5px;
    left: 100%;
    padding: 0 7px;
    border-radius: 4px;
    text-align: center;
    background-color: #000;
    color: #fff;
    line-height: 28px;
    white-space: nowrap;
    z-index: 1003;
}

.left-bar-subItem:hover:after {
    content: "";
    position: absolute;
    left: 80%;
    top: 30%;
    width: 0;
    height: 0;
    border-right: 8px solid #000;
    border-top: 8px solid transparent;
    border-bottom: 7px solid transparent;
    z-index: 1003;
}

.left-bar-subItem.active {
    background-color: #000;
}

.left-ana-tab-content {
    position: absolute;
    left: -282px;
    min-width: 240px;
    max-width: 330px;
    height: 100%;
    z-index: 1001;
    background: #fff;
    border-right: 2px solid #66bfbf;
}

.left-tab-content-item {
    height: 100%;
}

.left-tab-content-item > li {
    display: none;
    height: 100%;
}

.left-tab-content-item > li.active {
    display: block;
}

/* 内容tab */
.left-tab-container {
    height: 100%;
}

.left-child-btn {
    display: block;
    justify-content: space-around;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    background-color: #00a3cd;
}

.left-child-btn li {
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

.left-child-btn li:first-child {
    margin-left: 20px;
}

.left-child-btn li i {
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    font-size: 16px;
}

.left-child-btn li:hover i {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.left-bar-content {
    height: calc(100% - 36px);
    overflow-y: auto;
}

.left-bar-content > div {
    display: none;
    height: 100%;
}

.left-bar-content > div.active {
    display: block;
}

/*左侧菜单显隐以及效果*/
.closeToOpen {
    animation: show 0.5s linear;
    -webkit-animation: show 0.5s linear; /*Safari and Chrome*/
    -webkit-animation-iteration-count: 1
}

@keyframes show {
    from {
        left: -282px;
    }
    to {
        left: 40px;
    }
}

@-webkit-keyframes show /*Safari and Chrome*/
{
    from {
        left: -282px;
    }
    to {
        left: 40px;
    }
}

.openToClose {
    animation: close 0.5s linear;
    -webkit-animation: close 0.5s linear; /*Safari and Chrome*/
    -webkit-animation-iteration-count: 1
}

@keyframes close {
    from {
        left: 40px;
    }
    to {
        left: -282px;
    }
}

@-webkit-keyframes close /*Safari and Chrome*/
{
    from {
        left: 40px;
    }
    to {
        left: -282px;
    }
}


/*菜单重命名*/
.rename-input {
    width: 90%;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 5px #00a3cd;
    -webkit-box-shadow: 0 0 5px #00a3cd;
    border: 1px solid #ddd;
    padding: 6px 12px;
}